* {  margin: 0; }

.app{
  background-color: #fafafa;
}
.appPost {
  padding: 20px;
  width: auto;
  display: flex; 
  justify-content: center;
  flex-direction: column;
}
.appHeader {
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.appHeaderImage {
  object-fit: contain;
}

.appSignUp {
  display: flex;
  flex-direction: column;
  text-align: center;
}